html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    scroll-snap-align: center;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #0c0c1d;
    color: lightgrey;
}